<div class="trip">

<% if current_user %>
<h1><%= current_user.named %>'s Order No. <%= @trip.id  %>  </h1> <br>
  <h3>Address: <%=  @trip.comment if @trip.comment %> </h3> <br>


<% @trip.orders.each do |order| %>
<%= order.meal.name %>
<%= number_to_currency(order.meal.price) %>
<%= link_to "Delete", order, method: :delete if @trip.user && @trip == current_trip %> <br> <br>

<% end %>
<h3>Total: <%= number_to_currency(@trip.total) %> | <%= link_to "Check Out", checkout_path %> </h3> <br>
<% end %>

<%= form_for @trip, :method => :put do |f| %>
<p class="form-title">Address</p>
<%= f.text_area :comment %>
<%= f.submit "Add Address"%>
<% end %>
</div>
