
<div class="review">
  <h1>Review No. <%= @review.id%> </h1> <br>
  <p>Date: <%= (@review.date_posted).strftime("%b %d, %Y") %></p>
  <<p>By: <%=  @review.user.named%>  <%= link_to "|| Edit Review", edit_user_review_path(@review.user, @review) if logged_in? %> <%= link_to " || Delete", @review, method: :delete if logged_in? %></<p>
  <!-- Line below was in original rails project -->
   <!--<p>By: <%= link_to @review.user.named, user_path(@review.user) %>  <%= link_to "|| Edit Review", edit_user_review_path(@review.user, @review) if logged_in? %> <%= link_to " || Delete", @review, method: :delete if logged_in? %></p> -->
  <h2><%= @review.title%></h2>
  <h3><%= @review.comment %></h3> <br> <br>

  <h3><%= link_to "Create A New Review", new_user_review_path(@review.user)  %></h3>
</div>
